<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ruta.perubus">

    <uses-sdk xmlns:tools="http://schemas.android.com/tools"
        android:minSdkVersion="19"
        android:targetSdkVersion="31" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="your_pakage_name.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic"
        tools:targetApi="m">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyANUI7icvsdQheil0YvU0vhkvEMxHrNz2w" />

        <activity
            android:name="com.ruta.perubus.ui.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name="com.ruta.perubus.BuslocationActivity"
            android:exported="false" />
        <activity
            android:name="com.ruta.perubus.EditarperfilActivity"
            android:exported="false" />
        <activity
            android:name="com.ruta.perubus.ui.select.SelectbusActivity"
            android:label="@string/title_activity_selectbus" />
        <activity
            android:name="com.ruta.perubus.ui.select.SelectBusActivityNew"
            android:label="@string/title_activity_selectbus" />
        <activity android:name="com.ruta.perubus.LoginActivity" />
        <activity android:name="com.ruta.perubus.CredentialActivity" />
        <activity
            android:name="com.ruta.perubus.BeginningActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ruta.perubus.RegistroActivity" />
        <activity android:name="com.ruta.perubus.RecoverypassActivity" />
        <activity android:name="com.ruta.perubus.ResetpassActivity" />
        <activity android:name="com.ruta.perubus.TerminoscondicionesActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>